@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.layout-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.4fr 2fr;
  grid-template-rows: 1fr 4fr;
}

/* Sidebar */

.sidebar {
  background-color: #e2e8f0;
  color: #7e7e7e;
  grid-row: 1 / 4;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  justify-items: start;
  padding-top: 25px;
  align-items: start;
  padding-left: 20px;
  padding-right: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.logo {
  display: grid;
  grid-template-columns: 3fr 8fr;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo svg {
  width: 30px;
  fill: #fff;
}

.sidebar-dash svg {
  width: 15px;
  fill: #fff;
}

.sidebar-dash > div {
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding: 8px;
  font-weight: bold;
}

.sidebar-option:nth-child(7) {
  margin-top: 35px;
}

.sidebar-option:hover,
.sidebar-option:hover svg,
.logo:hover svg {
  cursor: pointer;
  fill: #000000;
  color: #fdf4ff;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px #730606;
}
