@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.layout-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.4fr 2fr;
  grid-template-rows: 1fr 4fr;
}

/* Sidebar */

.sidebar {
  background-color: #e2e8f0;
  color: #7e7e7e;
  grid-row: 1 / 4;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  justify-items: start;
  padding-top: 25px;
  align-items: start;
  padding-left: 20px;
  padding-right: 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.logo {
  display: grid;
  grid-template-columns: 3fr 8fr;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo svg {
  width: 30px;
  fill: #fff;
}

.sidebar-dash svg {
  width: 15px;
  fill: #fff;
}

.sidebar-dash > div {
  width: 150px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding: 8px;
  font-weight: bold;
}

.sidebar-option:nth-child(7) {
  margin-top: 35px;
}

.sidebar-option:hover,
.sidebar-option:hover svg,
.logo:hover svg {
  cursor: pointer;
  fill: #000000;
  color: #fdf4ff;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px #730606;
}

/* Header Container */
.header-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 70px;
  padding-bottom: 10px;
  justify-content: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.first-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
}

.search-bar {
  display: grid;
  grid-template-columns: 1fr 30fr;
  align-items: center;
  justify-self: start;
}

.notification-bar {
  display: grid;
  grid-template-columns: 0.4fr 0.9fr 1fr;
  align-items: center;
  font-weight: bold;
  justify-self: end;
}

input {
  border-radius: 15px;
  outline: none;
  border: 1px solid #fdf4ff;
  padding: 2px;
  background-color: #fdf4ff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.search-bar svg,
.notification-bar svg {
  width: 20px;
  margin-right: 15px;
}

.small-avatar {
  width: 40px;
  border-radius: 100%;
}

.avatar {
  width: 60px;
  border-radius: 100%;
}

.notification-bar svg:hover {
  fill: #730606;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px #730606;
}

.second-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  padding-top: 5px;
  padding-bottom: 10px;
}

.user-profile {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  justify-items: start;
  align-items: center;
}

h1 {
  font-size: 1.2rem;
  margin-top: 5px;
}

.avatar:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
.welcome-message {
  font-weight: bold;
  font-size: 0.8rem;
  justify-self: start;
  padding-left: 8px;
}

.buttons-profile {
  justify-self: end;
  align-self: end;
}

button {
  width: 90px;
  padding: 8px;
  border-radius: 15px;
  color: #7e7e7e;
  background-color: #e2e8f0;
  outline: none;
  border: 1px solid #64748b;
  font-weight: bold;
  margin-left: 12px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
  transform: scale(1.1);
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px #730606;
  border-color: #730606;
}

/* Main Content */

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #fdf4ff;
}

.left-side {
  margin-left: 50px;
}

.right-side {
  display: grid;
  grid-template-rows: 0.7fr 1fr;
  justify-items: center;
}

.fun-facts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.funfact-card {
  padding: 20px;
  color: #a1a1aa;
  background-color: #fff;
  border-radius: 5px;
  border-left: 9px solid #000000;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 0.4fr 1fr 0.5fr;
}

.funfact-card > h4 {
  color: #000000;
}

.funfact-card:hover {
  border-left: 9px solid #e2e8f0;
}

.card-icons svg {
  width: 20px;
}

.announcements-box {
  width: 270px;
  font-size: 0.8rem;
  padding: 10px 10px;
  text-align: left;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.announcement > h6 {
  font-size: 0.8rem;
  padding: 10px 0 10px 0;
  text-align: left;
}

.announcement {
  padding: 10px;
}

.trending-box {
  width: 270px;
  font-size: 0.8rem;
  padding: 0 10px 10px 10px;
  text-align: left;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.trend {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 10px;
  justify-items: center;
}

.trend img {
  width: 40px;
  border-radius: 100%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.user-id {
  justify-self: start;
  color: #a1a1aa;
}

.user-name {
  font-weight: bold;
  color: #000000;
  padding-bottom: 3px;
}

.announcements > h3,
.trends > h3,
.left-side > h3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-icons {
  text-align: right;
  margin-top: 15px;
}

.card-icons svg {
  margin-left: 9px;
}

.card-icons svg:hover {
  transform: scale(1.2);
  fill: #730606;
  transition: all 0.2s ease-in-out;
}

@media all and (max-width: 1080px) {
  .sidebar {
    width: 90px;
    justify-items: center;
    grid-template-rows: 0.2fr 1.4fr 3fr;
  }

  .logo {
    align-self: center;
  }

  .sidebar-option .hidden,
  .logo .hidden {
    display: none;
  }

  .sidebar-option svg,
  .logo svg {
    width: 40px;
    fill: #000000;
  }

  .header-container {
    padding: 5px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
  }

  input {
    width: 89%;
  }

  .second-row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .buttons-profile {
    justify-items: center;
    align-items: center;
    padding: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-side {
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .fun-facts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, minmax(70px, 1fr));
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-left: 0;
  }

  .funfact-card {
    width: 100%;
  }

  .announcements > h3,
  .trends > h3,
  .left-side > h3 {
    text-align: center;
  }

  .user-profile {
    padding: 10px;
  }

  .h1 {
    font-size: 1rem;
  }

  .announcements-box,
  .trending-box {
    min-width: 100%;
  }
}
